name: Build

on: push

jobs:
  dylib:
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make dylib
      - uses: actions/upload-artifact@v2
        with:
          name: dylib
          path: dylib/libmylib.so

  c:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make c-exe

  cpp:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make cpp

  rust:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make rust

  go:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.14.6'
      - run: make go

  ocaml:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: 4.08.1
      - run: make ocaml

  haskell:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make haskell

  kotlin:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: wget https://github.com/JetBrains/kotlin/releases/download/v1.3.72/kotlin-native-linux-1.3.72.tar.gz
      - run: tar zxvf kotlin-native-linux-1.3.72.tar.gz
      - run: sudo mkdir -p /usr/local/kotlin-native
      - run: sudo mv kotlin-native-linux-1.3.72/* /usr/local/kotlin-native
      - name: make kotlin
        run: |
          export PATH="$PATH:/usr/local/kotlin-native/bin"
          cinterop -def MyLib.def -o myLib -compiler-option -I../dylib
          kotlinc-native -l myLib -o main Main.kt
        working-directory: ./kotlin

  java:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make java

  csharp:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make csharp

  fsharp:
    needs: dylib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: dylib
          path: dylib
      - run: make fsharp
